<nav id="mainNav" class="navbar navbar-advance">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Trip To Doctor</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About Us</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <!-- <li>
                    <a class="page-scroll" href="#portfolio">New to Trip to doctor</a>
                </li> -->
                <li>
                    <a class="page-scroll" href="#contact">Contact Us</a>
                </li>
				<li style="padding-top: 5px";>
                    <a class="btn-login page-scroll" ng-click="showLogin = true">LogIn</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container doctorsList-content">
    <div class="search">
        <input type="text" placeholder="search stocks" class="form-control" ng-model="searchText">
    </div>
    <div class="row doctors">
        <div class="col-lg-3 col-sm-3 card">
            <div class="row">
                <div class="col-sm-12 doctor-img-background">
                    
                </div>
            </div>
        </div>    
    </div>
</div>